body {
  font-family: sans-serif;
  color: #261700;
  background-color: #fff5f5;
}

a{color: #cd5b5e;}
a:hover { color: #ff0e57; }

p {
line-height: 1.25em;
margin: 1.25em 0;
text-align: justify;
}

header h1 {
  font-family: 'Righteous', cursive;
  font-size: 6em;
}

.title {
  font-family: 'Righteous', cursive;
  font-size: 3em;
}

img {
  margin: auto;
  display: block;
  position:relative;
  width: 80%;
}
