body {
  font-family: sans-serif;
  color: #261700;
  background-color: #fff5f5;
}

a:link{color: #cd5b5e;}
a:hover { color: #ff0e57; }

p {

margin: 1.25em 0;
text-align: justify;
}

header h1 {
  font-family: 'Righteous', cursive;
  font-size: 6em;
}

.title {
  font-family: 'Righteous', cursive;
  font-size: 3em;
}
.title:link {color:#cd5b5e;}
.title:hover {color:#cd5b5e;}

img {
  margin: auto;
  display: block;
  position:relative;
  width: 100%;
}
